@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
    background-color: rgb(20,20,20);
    font-family: "Roboto";
    margin: 60% 0 0 0;
    position: relative;
    overflow: hidden;
}
.background {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 650px;

}
.text {
    color: #ffcc37;
    font-size: 37px;
    line-height: 2em;
    font-weight: bold;
    text-align: start;
    position: relative;
    animation: traffic 30s linear infinite none;
    transform: rotateX(20deg);
}
h1, h2 {
    text-align: center;
}
@keyframes traffic {
    0% { top: 0; transform: translateZ(450px) rotateX(20deg)}
    100% { top: -5500px; margin-top: 250px; transform: translateZ(-2000px) rotateX(21deg)}
}