body {
    margin: 0 auto;
    font-family: sans-serif;
    height: 1626px;
    width: 1280px;
}
.nav {
    margin: 25.5px 330px 25.5px 330px;
}
.topnav {
    width: 620px;
    height: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.topnav-menu {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
li {display: inline;}
.topnav-menu-item-link {
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    margin-left: 44px;
    letter-spacing: 2.7px;
}
.image {
    /*background-image: url("img/mobile.png");*/
    height: 789px;
}
.title {
    font-weight: bold;
    font-size: 22px;
    margin-top: 49px;
    letter-spacing: 3.3px;
    margin-right: 253px;
    margin-left: 253px;
    width: 774px;
    height: 29px;
}
.content-top {
    width: 1145px;
    height: 132px;
    margin-left: 67.5px;
    margin-right: 65.5px;
    margin-top: 38px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.content-bottom {
    margin-top: 28px;
    width: 1145px;
    height: 216px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.button {
    margin: 84px 544.5px 82px ;
    display: flex;
    align-items: center;
    width: 191px;
    height: 51px;
}
.info-button {
    background: #FF0000;
    font-weight: bold;
    font-size: 12px;
    color: white;
    letter-spacing: 1.8px;
    padding: 18px 43px;
    text-decoration:none;
    border-radius: 4px;
    width: 105px;
    height: 16px;
}
.text-bottom {
    width: 462px;
    height: 39px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 713px;
    margin-bottom: 29px;
    letter-spacing: 2.4px;
    align-items: center;

}


