body {
    margin: 0 auto;
    font-family: "sans-serif";
    width: 1480px;

}
.logo {
    height: 79px;
    display: flex;
    align-items: flex-end;
    margin: 63px 98px 38px 98px;
}
span {
    color: deepskyblue;
}
.logo-text {
    text-decoration: none;
    color: black;
    font-size: 80px;
    line-height: 94px;

}

.menu-top {
    background-color: #35444F;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    flex-direction: row;
    height: 72px;
    margin-left: 98px;
    margin-right: 98px;
}
.menu-top-item {
    text-decoration: none;
    transition: all 1s;
    color: white;
    font-size: 24px;
    padding: 22.5px 40px 22.5px 40px;
    border-left: 1px solid white;

}
.menu-top-item:hover {
    background-color: #222F3A;
}

.menu-left {
    width: 344px;
    height: 395px;
    border: 1px solid #000000;
    margin-left: 100px;
    margin-top: 48px;
}
.link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.5s;
    color: #485863;
    font-size: 27px;
    padding: 26px;
}

.media {
    display: flex;
    justify-content: space-between;
    height: 100%;

}
.content {

    Width: 885px;
    Height: 832px;
    margin-top: 48px;
    margin-right: 100px;
}
.image {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-left-link:hover {
    background-color:#DBDBDB;
}
.menu-left-link a:hover {
    color: black;
}
p {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.text1 {
    margin-top: 37px;
}
.text2 {
    margin-top: 34px;
    margin-bottom: 54px;
}
.menu-bottom {
    background: rgba(99, 105, 110, 0.48);
    height: 65px;
    margin-bottom: 30px;
    margin-left: 98px;
    margin-right: 98px;
}
.menu-bottom-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-bottom {
    display: block;
    text-decoration: none;
    transition: all 1s;
    color: black;
    font-size: 24px;
    padding: 20px 35px 12px 40px;
}
.link-bottom-end {
    display: block;
    padding:20px 40px 12px 82px;
    text-decoration: none;
    transition: all 1s;
    color: black;
    font-size: 24px;
}
.menu-bottom-link-item:hover{
    border-bottom: #4c95ff 1px solid;
}
.menu-bottom-link-item a:hover {
    color: #4c95ff
}