@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    font-family: "Ubuntu";

}
.background {
    background-image: url("../img/Фон 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 770px;
}


.navigation {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 79px;
    padding-right: 79px;
    margin-bottom: 54px;
}

.right h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}
.right h1:hover {
  color: #3CB878;
}
.left {
    display: flex;
    align-items: center;
}
.icon-style {
    width: 21px;
    height: 24px;
    fill: white;
    padding-right: 25px;
}
.icon-style:hover {
    fill: #3CB878;
}
.welcome p, a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}
.welcome {
    padding-left: 27px;
    position: relative;
}
.welcome a:hover {
    color: #3CB878;
}
.welcome::after {
    content: "";
    height: 19px;
    width: 1px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    display: inline-block;
    top: -2px;
    left: 0px;
}
.forms {
    margin: 0 auto;
    background: #FFFFFF;
    width: 444px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}
.forms:after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    left: 0px;
    top: 29px;

}
.sing {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
}
.sing h2 {
    font-size: 20px;
    color: #434343;

}
.sing a {
    color: #3CB878;
    font-size: 14px;
}
.sing a:hover {
    color: #01813F;
    border-bottom: #01813F 1px solid;
}
.button {
    padding: 15px 60px 31px 60px;
    display: flex;
    position: relative;
}
.facebook {
    background: #305DB8;
    padding: 17px 22px 17px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin-right: 4px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: .5px;
    position: relative;

}
.facebook:hover {
    background: #022263;
}
.google {
    background: #DF4A32;
    padding: 17px 22px 17px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: .5px;
    position: relative;
}
.google:hover {
    background: #AB1F09;
}
.facebook-icon {
    padding-right: 38px;
}
.google-icon {
    padding-right: 38px;
}
.facebook::after {
    content: "";
    position: absolute;
    height: 28px;
    width: 1px;
    background: #0A162F;
    display: inline-block;
    top: 15px;
    left: 48px;
    opacity: 0.1;
}
.google::after {
    content: "";
    position: absolute;
    height: 28px;
    width: 1px;
    background: #2B0D09;
    display: inline-block;
    top: 15px;
    left: 49px;
    opacity: 0.1;
}
.or {
   text-align: center;
    color: #848484;
    font-size: 14px;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;

}
.or::after {
    content: "";
    position: absolute;
    height: 152px;
    width: 1px;
    background: #F2F2F2;
    display: inline-block;
    top: -68px;
    left: 135px;
     transform: rotate(100grad);

}
.or::before {
    content: "";
    position: absolute;
    height: 152px;
    width: 1px;
    background: #F2F2F2;
    display: inline-block;
    top: -68px;
    right: 135px;
    transform: rotate(100grad);
}
form {
    margin: 0 auto;
    width: 324px;
}
.my-form {
    margin-top: 15px;
    height: 45px;
    width: 300px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;

}
.my-form:focus {
    box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
    outline: none;
}
.my-form::placeholder {
    font-size: 14px;
    font-family: "Ubuntu";
}
.check-forms {
    margin-top: 12px;
    margin-bottom: 20px;
    position: relative;
}
.check-label {
    color: #434343;
    font-size: 14px;
    padding-left: 35px;
}
.check-label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;

}
.check-label:after {
    content: "";
    display: block;
    width: 6px;
    height: 11px;
    top: 3px;
    left: 8px;
    border: solid #01813F;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    /*opacity: 0;*/

}
.check-input {
    -webkit-appearance: none;
    position: absolute;
}
.check-input:checked + .check-label:after {
    /*opacity: 1;*/
}

span {
    color: #3CB878;
}
span:hover {
    color: #01813F;
    border-bottom: #01813F 1px solid;
}
button {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    font-family: "Ubuntu";
    font-size: 16px;
    margin-bottom: 38px;
    cursor: pointer;
}
button:hover {
    background: #01813F;
}