* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

body {
    width: 1920px;
    font-family: 'Montserrat', sans-serif; 
    margin: 0 auto;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
.navigation-top {
    
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
    /* width: 1920px; */
    display: flex;
}
.logo {
    padding-left: 380px;
}
.menu-top {
    padding-left: 305px;
    display: flex;

}
.background {
    background-image: url("../img/Layer\ 1\ 5.png");
    width: 1920px;
    margin-bottom: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu {
    display: flex;
    justify-content: center;
    
    
}
.menu-link {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 21px;
}
.menu-li {
    padding-top: 55px;

}
.search-style {
    padding-top: 49px;
}

.hero {
    padding-top: 264px;
    padding-bottom: 243px;
    text-align: center;

}
.hero-title {
    font-weight: bold;
    font-size: 78px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 22px;
    

}
.hero-subtitle {
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    
    

}
.hero-subtitle-blue  {
    color: #18CFAB;
}
.hero-slogan {
    font-size: 34px;
    color: #D4D4D4;
    padding-bottom: 134px;
   
}
.info-button-left {
    width: 169px;
    height: 63px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    background: #18CFAB;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 4px;
}
.info-button-right {
    width: 169px;
    height: 63px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    background: #00CBF6;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 26px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 4px;

}
.options {
    display: flex;
    padding-bottom: 90px;
}
.options-bg-blue {
    width: 482px;
    height: 360px;
    background: #1C2A33;
    position: relative;
}
.options-bg-mint {
    width: 482px;
    height: 360px;
    background: #18CFAB;
    position: relative;
}
.text-options-blue {
    color: #18CFAB;
    weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 232px;
}
.options-bg-mint {
    color: #FFFFFF;
    weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 232px; 
}
.icon-tap {
    position: absolute;
    width: 61px;
    height: 100px;
    left: 210px;
    top: 85px;
}
.icon-diamond {
    position: absolute;
    width: 96px;
    height: 78px;
    left: 193px;
    top: 96px;  
}
.icon-bulb {
    position: absolute;
    width: 62px;
    height: 99px;
    left: 210px;
    top: 85px;  
}
.icon-gadgets {
    position: absolute;
    width: 102px;
    height: 79px;
    left: 190px;
    top: 95px;
}
.our-service {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    padding-bottom: 101px;
    position: relative;
}
.our-service::before {
    content: "";
    position: absolute;
    width: 79px;
    height: 3px;
    left: 525px;
    top: 64px;
    background: #18CFAB;
    display: inline-block;
}
.our-service::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 3px;
    left: 538px;
    top: 70px;
    background: #18CFAB;
    display: inline-block;
}
.menu-service {
    display: flex;

}
.container {
    width: 1160px;
    margin: 0 auto;
}
.categories-link {
    color: #717171;
    text-decoration: none;
    font-size: 16px;
    height: 40px;
    padding-right: 45.8px;
    padding-left: 45.8px;
    padding-top: 25.8px;
    padding-bottom: 27px;
    border: 1px solid #EDEFEF;
    
}
.service {
    height: 72px;
    background: #F8FCFE;
    margin-bottom: 27px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.info-service {
    display: flex;
    padding-bottom: 91px;
}
.text-service {
    padding-left: 15px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.purchase {
    background-image: url(../img/bg2.jpg);
    height: 476px;
    margin-bottom: 96px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 0 0 250px rgb(0 0 0 / 60%) inset;
}
