body {
    font-family: sans-serif;
}

.background {
    background-image: url("../img/background 1.png");
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1028px;
    margin: 0 auto;
}

.navigation {
   padding-top: 46px;
    padding-bottom: 17px;
    height: 61px;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    width: 180px;
    height: 51px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.logo:hover .logo-img {
    content: url("../img/logo 2.png");
}
.logo:hover span {
    color: #F26522;
}
/*span:hover {*/
/*    color: #F26522;}*/

/*a:hover > div {*/
/*   color: #F26522;}*/

.milan {
    font-size: 29px;
}
.holidays {
    font-size: 18px;
}
.logo-content {
    display: flex;
}

.logo-text {
    padding-left: 8px;
}


.mail, .number {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.mail-link {
    padding-bottom: 19px;
}
.mail-link:hover {
    color: #F26522;
}
.number:hover {
    color: #F26522;
}
.information {
    height: 560px;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 261px 261px;
    grid-column-gap: 64px;
    grid-row-gap: 37px;
}
.content-img {
    text-decoration: none;
    color: #FFFFFF;
}
.post {
    position: relative;
}
.post:hover .post-item {
    top: 0;
}
.post-item {
    position: absolute;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: start;
    background-color: #F26522;
    margin-top: 165px;
    bottom: -1000px;
    transition: .3s;
}
.info-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14px;
    margin-right: 14px;
    padding-top: 29px;
    margin-left: -21px;
    width: 300px;
}
.info-post h2 {
    font-size: 20px;
}
.info-post h3 {
    font-size: 14px;
    padding-left: 128px;
}
.post-item p {
    font-size: 10px;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;
}
.image-text {
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}
a:hover .image-text {
    color: #F26522;
}
.view {
    position: relative;
    padding-right: 32px;
}
.view::before {
    content: "";
    height: 5px;
    border-right: 1px solid white;
    border-top: 1px solid white;
    position: absolute;
    display: inline-block;
    width: 5px;
    right: -9px;
    transform: rotate(45grad);
    margin-right: 16px;
    margin-top: 3px;

}

.text-bottom {
    margin-top: 49px;
    display: flex;
    justify-content: center;
}
.text-bottom-item {
    font-size: 12px;
    color: #FFFFFF;
}