body {
    width: 1900px;
    font-family: sans-serif;
    margin: 0 auto;
}
.navigation-top {
    background-color: #313131;
    width: 1900px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align:center;
    flex-direction: row;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;

}
.menu-top {
 display: flex;

}
.menu-top-link {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
    font-size: 15px;
    padding: 28px 35px;
    text-transform: uppercase;
}
.menu-top-link:hover {
    color: #14B9D5;
}
.search {
    width: 68px;
    height: 70px;
    background: black;
}
.search-icon {
    padding: 27px;
}
.background-top {
    height: 370px;
    background-image: url("../img/header-city.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 200px rgb(0 0 0 / 33%) inset;
}

.title-top {
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
    line-height: 37px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-button-left {
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    background: #89CA62;
    color: #FFFFFF;
    padding: 15px 20px;
    margin-top: 44px;
    border-radius: 4px;

}
.info-button-right {
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    background: #14B9D5;
    color: #FFFFFF;
    padding: 15px 20px;
    margin-left: 20px;
    margin-top: 44px;
    border-radius: 4px;

}
.media {
    background: #F2F2F2;
    height: 1030px;
}
.title-posts-item {
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    line-height: 37px;
    text-transform: uppercase;
    margin-top: 49px;
    margin-bottom: 52px;

}
.title-posts {
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    width: 1170px;
    margin: 0 auto;
}
.posts-img {
    width: 370px;
    background:  #FFFFFF;

}
.posts {
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 30px;

}
.posts-img-text {
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 20px;
    text-align: center;

}
.background-center {
    background-image: url("../img/parallax-bg.jpeg");
    height: 588px;
    margin-bottom: 49px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0 0 0 300px rgb(0 0 0 / 33%) inset;
}
.line {
    width: 60px;
    border-color: #18B4CF;
    margin-bottom: 107px;
}
.background-center-info {
    width: 1112px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
             "title title title title"
             "line line line line"
             "national dryme house journy";
}
.background-center-title {
    grid-area: title;
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-top: 108px;
    margin-bottom: 87px;
    text-transform: uppercase;
    text-align: center;

}
.background-center-line {
   grid-area: line;
}
.background-center-national {
    grid-area: national;
    padding: 50px;
}
.background-center-dryme {
    grid-area: dryme;
    padding: 50px;
}
.background-center-house {
    grid-area: house;
    padding: 50px;
}
.background-center-journy {
    grid-area: journy;
    padding: 50px;
}
.foto {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

}
.foto img {
    width: 100%;
}
.post-bottom {
    margin: 0 auto;

}

.pb-title {
    font-weight: bold;
    font-size: 18px;
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
}
.pb-title1, .pb-title8 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 41px;
    padding-right: 24px;
    text-align: right;
}
.pb-title2, .pb-title7 {
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    text-align: center;
}
.pb-text {
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
.pb-text1, .pb-text8 {
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    padding-right: 24px;
    padding-top: 14.5px;
    padding-bottom: 40.5px;
}
.post-bottom-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 259px 415px 415px 259px;
    grid-gap: 42px;
    grid-template-areas:
    "post1 post1 post1 post2"
    "post3 post3 post4 post4"
    "post5 post5 post6 post6"
    "post7 post8 post8 post8"
}
.pb-post1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 259px;
    width: 856px;
    background: #F9F7F7;
    grid-area: post1;
}
.pb-post2 {
    grid-area: post2;
    height: 259px;
    background: #F9F7F7;
}
.pb-post3 {
    grid-area: post3;
    height: 418px;
    width: 555px;
    background: #F9F7F7;
}
.pb-post4 {
    grid-area: post4;
    height: 418px;
    width: 555px;
    background: #F9F7F7;
}
.pb-post5 {
    grid-area: post5;
    height: 418px;
    width: 555px;
    background: #F9F7F7;
}
.pb-post6 {
    grid-area: post6;
    height: 418px;
    width: 555px;
    background: #F9F7F7;
}
.pb-post7 {
    grid-area: post7;
    height: 259px;
    background: #F9F7F7;
}
.pb-post8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: post8;
    height: 259px;
    background: #F9F7F7;
}
.navigation-bottom {
    height: 80px;
    background: #000000;
    margin-top: 77px;
    padding-left: 367px;
    display: grid;
    grid-template-columns: 512px 115px;
    grid-gap: 550px;
    align-items: center;

}
.content-bottom {
    color: white;
    font-size: 13px;



}